.intro .row div {
	background-color: rgba(0,0,0,.5);
	padding: 40px;
}

.content-section a {
  font-weight: bold;
}


.navbar-custom {
  background-color: rgba(0,0,0,.3);
}


@media(min-width:767px) {

  .intro .intro-body .intro-text {
    margin-top: 2em;
    font-size: 2.5em;
  }

  h2 {
    font-size: 5em;
  }

  h3 {
    font-size: 3em;
  }

  p {
    font-size: 1.7em;
  }
}

h1, h2, h3, h4 {
  color: #444;
}

.content-section {
	padding-top:0px;
	padding-bottom:0px;
  background-color: whitesmoke;
  color: black;
  -webkit-box-shadow: 0px 20px 68px 17px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 20px 68px 17px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 20px 68px 17px rgba(50, 50, 50, 0.75);
}


.container {
	width: 100%;
}

section.container {
	padding-top: 100px;
	padding-bottom: 100px;
}

.bg-white {
  background-color: white;
}

.p2 {
  padding: 2em;
}
